@keyframes name-row-left {
  0% {
    transform: translateX(calc(50% - 50vw));
  }

  100% {
    transform: translateX(-51vw);
  }
}

@keyframes name-row-right {
  0% {
    transform: translateX(calc(-50% + 50vw));
  }

  100% {
    transform: translateX(calc(51vw));
  }
}

@keyframes name-row-bottom {
  0% {
    transform: scale(0);
    filter: opacity(0);
  }

  100% {
    transform: scale(1);
    filter: opacity(1);
  }
}

.name-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-row);
  position: relative;
  z-index: 11;
  color: #fff;
  font-family: "Metropolis-Black";
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
}

.name-list:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: radial-gradient(at center, #0003, #000);
  filter: opacity(0.9);
}

.name-row {
  display: flex;
  gap: var(--gap-row);
  will-change: transform;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.name-row:nth-child(even) {
  animation-name: name-row-left;
}

.name-row:nth-child(odd) {
  animation-name: name-row-right;
}

.name {
  filter: opacity(0);
  transform: scale(0);
  will-change: transform, filter;
}
