@keyframes img-1 {
  0% {
    transform: scale(0) rotate(25deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes img-2 {
  0% {
    transform: scale(0) rotate(-25deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes img-3 {
  0% {
    transform: scale(0) rotate(35deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes img-4 {
  0% {
    transform: scale(0) rotate(-35deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes img-5 {
  0% {
    transform: scale(0) rotate(-25deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes img-6 {
  0% {
    transform: scale(0) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(1);
}

.img {
  position: absolute;
  object-fit: cover;
  transform: scale(0);
  will-change: transform, filter;
}

.img-1 {
  left: 18.75%;
  width: 14.32%;
  top: 0;
  height: 22.3%;
  z-index: 1;
  animation: img-1 1.2s 0s forwards;
}

.img-2 {
  left: 1.82%;
  width: 21.35%;
  top: 6.76%;
  height: 55.56%;
  animation: img-2 1.2s 0.2s forwards;
}

.img-3 {
  left: 12.44%;
  width: 19.47%;
  top: 56.16%;
  height: 43.6%;
  animation: img-3 1.2s 0.4s forwards;
}

.img-4 {
  right: 13.22%;
  width: 18.17%;
  top: 0%;
  height: 24.44%;
  animation: img-4 1.2s 0.4s forwards;
}

.img-5 {
  right: 2.29%;
  width: 13.59%;
  top: 19.25%;
  height: 35.46%;
  animation: img-5 1.2s 0.6s forwards;
}

.img-6 {
  right: 7.13%;
  width: 24.11%;
  top: 40.13%;
  height: 59.43%;
  animation: img-6 1.2s 0.8s forwards;
}
